<div class="esat-pr-banner__header-stats-review">
    <div class="esat-pr-banner__header-stats-review-title">${title}</div>
    <div class="esat-pr-banner__header-stats-review-bar-flex">
        <div class="esat-pr-banner__header-stats-review-bar" style="width: ${barWidth}%"></div>
        <div class="esat-pr-basnner__header-stats-review-value esat-pr-banner-txt--bold">${score}</div>
    </div>
</div>
