<div data-esat-star="${star}" class="esat-pr-banner__header-stats-stars-rating">
    <div class="esat-pr-banner__header-stats-stars">${starElements}</div>
    <div class="esat-pr-banner__header-stats-stars-bar-flex esat-pr-banner__header-stats-stars-bar-flex--${disabled}">
        <div class="esat-pr-banner__header-stats-stars-bar" style="width: ${barWidth}%"></div>
        <div class="esat-pr-banner__header-stats-stars-total esat-pr-banner-txt--bold">${totalCountPerStar}</div>
    </div>
</div>
