@charset "UTF-8";
@font-face {
  font-family: Zonapro-thin;
  src: url(../fonts/ZonaPro-Thin.woff); }
@font-face {
  font-family: Zonapro-semibold;
  src: url(../fonts/ZonaPro-SemiBold.woff); }
.esat-pr-banner .esat-pr-banner__big-badge, .esat-pr-banner .esat-pr-banner__small-badge {
  color: #000;
  background-color: #fff;
  border-radius: 5px; }

.esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-review-bar, .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-stars-bar {
  margin-right: 8px;
  margin-bottom: 6px;
  height: 16px;
  background: linear-gradient(to right, #65ffd1 10%, #00aeef 70%); }

.esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment-negative-icon, .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment-positive-icon {
  background: url(https://cdn.e-satisfaction.com/clients/products/badge/v1.0/images/icons.svg) no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px;
  display: inline-block;
  vertical-align: bottom;
  margin: 3px 16px;
  flex: 0 1 25px; }

.esat-pr-banner {
  display: flex;
  flex-flow: row wrap;
  max-width: 780px;
  padding: 24px 32px;
  font-family: Zonapro-thin;
  font-size: 1rem;
  font-weight: 300;
  height: 100%;
  max-height: 850px;
  overflow-y: auto; }
  .esat-pr-banner.esat-pr-banner--dark {
    background: rgba(10, 20, 30, 0.9);
    color: #fff; }
    .esat-pr-banner.esat-pr-banner--dark .esat-pr-banner__header-stats-stars > span::before {
      content: 'Γÿà';
      color: #fff; }
  .esat-pr-banner.esat-pr-banner--light {
    background: rgba(226, 229, 238, 0.95);
    color: #000; }
    .esat-pr-banner.esat-pr-banner--light .esat-pr-banner__header-stats-stars > span::before {
      content: 'Γÿà';
      color: #333; }
  .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner_hr {
    margin: 16px 0; }
  .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__header .esat-pr-banner__header-stats {
    display: flex;
    flex-direction: column; }
  .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__main {
    padding: 0 8px; }
    .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__main .esat-pr-banner__main-review {
      flex-direction: column; }
      .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-info {
        width: 170px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px; }
      .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-info-date {
        margin-top: 0;
        align-self: center;
        width: 160px;
        margin-left: 16px; }
      .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment {
        flex: 1;
        align-self: auto; }
        .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment > div {
          margin-bottom: 8px; }
        .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment:last-child {
          margin-bottom: 0; }
      .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment-negative-icon {
        width: 14px;
        height: 14px;
        background-size: 14px;
        margin: 3px 4px;
        background-position: 0 -14px; }
      .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment-positive-icon {
        width: 14px;
        height: 14px;
        background-size: 14px;
        margin: 3px 4px; }
      .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__small-badge {
        min-width: 40px; }
  .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__header-logo {
    display: flex;
    justify-content: center; }
  .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__header-stats {
    font-size: 0.9rem;
    flex-direction: column; }
  .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__header-stats-summary {
    align-self: center; }
    .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__header-stats-summary .esat-pr-banner__header-stats-info {
      margin-bottom: 16px;
      width: 100%; }
  .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__big-badge {
    margin: 10px auto; }
  .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__header-stats-review-title {
    flex: 1; }
  .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner__header-stats-stars {
    flex: 1;
    white-space: nowrap; }
  .esat-pr-banner.esat-pr-banner--mobile .esat-pr-banner--no-reviews .esat-pr-banner__header-logo {
    display: flex;
    justify-content: right; }
  .esat-pr-banner .esat-pr-banner__big-badge-logo {
    background: url(https://cdn.e-satisfaction.com/clients/products/badge/v1.0/images/logo-blue-square.png) no-repeat;
    background-size: 60px 52px;
    width: 60px;
    height: 52px; }
  .esat-pr-banner .esat-pr-banner__big-badge {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px; }
    .esat-pr-banner .esat-pr-banner__big-badge .esat-pr-banner-txt {
      margin-top: 8px; }
  .esat-pr-banner .esat-pr-banner__small-badge {
    width: 50px;
    padding: 4px 0;
    text-align: center; }
  .esat-pr-banner .esat-pr-banner__header {
    font-size: 0.9rem;
    flex: 1 100%; }
    .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-logo {
      display: flex;
      justify-content: flex-end;
      order: 1;
      text-align: right;
      margin-bottom: 16px; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-logo .esat-pr-banner__header-logo-holder {
        background: url(https://cdn.e-satisfaction.com/clients/products/badge/v1.0/images/logo-blue.png) no-repeat;
        background-size: 220px 40px;
        width: 220px;
        height: 40px; }
    .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats {
      display: flex;
      flex-direction: row; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-summary {
        flex: 1 1;
        height: 100px; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-reviews {
        flex: 1 0 auto; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-stars-bar-flex {
        cursor: pointer;
        flex: 2;
        display: flex; }
        .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-stars-bar-flex.esat-pr-banner__header-stats-stars-bar-flex--disabled {
          pointer-events: none; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-review-bar-flex {
        flex: 2;
        display: flex; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-review {
        display: flex;
        margin-bottom: 2px; }
        .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-review:last-child {
          margin-bottom: 16px; }
        .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-review > * {
          margin-right: 4px; }
        .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-review .esat-pr-basnner__header-stats-review-value {
          width: 25%; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-stars-rating {
        display: flex;
        margin-bottom: 2px; }
        .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-stars-rating > * {
          margin-right: 4px; }
        .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-stars-rating .esat-pr-banner__header-stats-stars-total {
          width: 25%; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-review-title,
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-stars {
        width: 180px;
        text-align: right;
        margin-right: 10px;
        line-height: 16px; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-info {
        width: 165px;
        margin-top: 16px; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-stars-reviews-total--muted > .esat-pr-banner__header-stats-stars-rating {
        opacity: 0.3; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats .esat-pr-banner__header-stats-stars-reviews-total--muted > .esat-pr-banner__header-stats-stars-rating--highlighted {
        opacity: 1; }
  .esat-pr-banner .esat-pr-banner__main {
    flex: 1 100%;
    padding: 0 24px; }
    .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review {
      display: flex; }
      .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment {
        flex: 1 2 400px;
        text-overflow: ellipsis;
        align-self: end;
        word-break: break-word;
        max-width: 400px;
        line-height: 1.3; }
        .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment > div {
          margin-bottom: 16px;
          word-break: break-word; }
        .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment .esat-pr-banner__main-review-comment--muted {
          opacity: 0.5; }
      .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment-positive,
      .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment-negative {
        display: flex; }
      .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment-negative-icon {
        background-position: 0 -16px; }
      .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-info {
        width: 150px; }
        .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-info .esat-pr-banner__main-review-info-date {
          margin-top: 16px; }
  .esat-pr-banner .esat-pr-banner__main-load-more {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    margin: 0 auto; }
    .esat-pr-banner .esat-pr-banner__main-load-more .esat-pr-banner__main-load-more-button {
      cursor: pointer;
      border: 1px solid #333;
      border-radius: 5px;
      padding: 8px; }
  .esat-pr-banner .esat-pr-banner_hr {
    margin: 24px 0; }
  .esat-pr-banner .esat-pr-banner-elem--hidden {
    display: none; }
  .esat-pr-banner .esat-pr-banner--white-bg {
    background-color: #fff;
    color: #000; }
  .esat-pr-banner .esat-pr-banner--blue {
    font-family: Zonapro-semibold;
    color: #00aeef; }
  .esat-pr-banner .esat-pr-banner-text--xl {
    font-size: 2rem; }
  .esat-pr-banner .esat-pr-banner-txt--lg {
    font-size: 1.5rem; }
  .esat-pr-banner .esat-pr-banner-txt--md {
    font-size: 1.25rem; }
  .esat-pr-banner .esat-pr-banner-txt--sm {
    font-size: 0.9rem; }
  .esat-pr-banner .esat-pr-banner-txt--xxs {
    font-size: 0.7rem; }
  .esat-pr-banner .esat-pr-banner-txt--bold {
    font-weight: 600; }
  .esat-pr-banner .esat-pr-banner_hr {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, #a970fe 10%, #74bcf7 70%); }

@media screen and (max-width: 520px) {
  .esat-pr-banner {
    padding: 16px; }
    .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-logo {
      display: flex;
      justify-content: center; }
    .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats {
      font-size: 0.9rem;
      flex-direction: column; }
    .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats-summary {
      align-self: center; }
      .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats-summary .esat-pr-banner__header-stats-info {
        margin-bottom: 16px;
        width: 100%; }
    .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__big-badge {
      margin: 10px auto; }
    .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats-review-title {
      flex: 1; }
    .esat-pr-banner .esat-pr-banner__header .esat-pr-banner__header-stats-stars {
      flex: 1;
      white-space: nowrap; }
    .esat-pr-banner .esat-pr-banner__header .esat-pr-banner--no-reviews .esat-pr-banner__header-logo {
      display: flex;
      justify-content: right; } }
@media screen and (max-width: 380px) {
  .esat-pr-banner_hr {
    margin: 16px 0; }

  .esat-pr-banner__header .esat-pr-banner__header-stats {
    display: flex;
    flex-direction: column; }

  .esat-pr-banner__main {
    padding: 0 8px; }
    .esat-pr-banner__main .esat-pr-banner__main-review {
      flex-direction: column; }
      .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-info {
        width: 170px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px; }
      .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-info-date {
        margin-top: 0;
        align-self: center;
        width: 160px;
        margin-left: 16px; }
      .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment {
        flex: 1;
        align-self: auto; }
        .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment > div {
          margin-bottom: 8px; }
        .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment:last-child {
          margin-bottom: 0; }
      .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment-negative-icon {
        width: 14px;
        height: 14px;
        background-size: 14px;
        margin: 3px 4px;
        background-position: 0 -14px; }
      .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment-positive-icon {
        width: 14px;
        height: 14px;
        background-size: 14px;
        margin: 3px 4px; }
      .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__small-badge {
        min-width: 40px; }

  .esat-pr-banner .esat-pr-banner__main .esat-pr-banner__main-review .esat-pr-banner__main-review-comment {
    flex: 1; } }
.esat-pr-banner--no-reviews .esat-pr-banner__main {
  text-align: center; }

/*# sourceMappingURL=banner.css.map */
