@import 'variables.scss';
@import 'fonts.scss';
//@extend-elements
%badge {
    color: $black;
    background-color: $white;
    border-radius: 5px;
}

%bar {
    margin-right: 8px;
    margin-bottom: 6px;
    height: 16px;
    background: linear-gradient(to right, $bar_linear_from_color 10%, $bar_linear_to_color 70%);
}

%icons {
    background: $url_logo_icons no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin: 3px 16px;
    flex: 0 1 25px;
}

@mixin mobile {
    .esat-pr-banner_hr {
        margin: 16px 0;
    }

    .esat-pr-banner__header {
        .esat-pr-banner__header-stats {
            display: flex;
            flex-direction: column;
        }
    }

    .esat-pr-banner__main {
        padding: 0 8px;

        .esat-pr-banner__main-review {
            flex-direction: column;

            .esat-pr-banner__main-review-info {
                width: 170px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
            }

            .esat-pr-banner__main-review-info-date {
                margin-top: 0;
                align-self: center;
                width: 160px;
                margin-left: 16px;
            }

            .esat-pr-banner__main-review-comment {
                flex: 1;
                align-self: auto;

                > div {
                    margin-bottom: 8px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .esat-pr-banner__main-review-comment-negative-icon {
                width: 14px;
                height: 14px;
                background-size: 14px;
                margin: 3px 4px;
                background-position: 0 -14px;
            }

            .esat-pr-banner__main-review-comment-positive-icon {
                width: 14px;
                height: 14px;
                background-size: 14px;
                margin: 3px 4px;
            }

            .esat-pr-banner__small-badge {
                min-width: 40px;
            }
        }
    }
}


@mixin mobile-header {
    .esat-pr-banner__header-logo {
        display: flex;
        justify-content: center;
    }
    .esat-pr-banner__header-stats {
        flex-direction: column;
    }

    .esat-pr-banner__header-stats-summary {
        align-self: center;

        .esat-pr-banner__header-stats-info {
            margin-bottom: 16px;
            width: 100%;
        }
    }

    .esat-pr-banner__big-badge {
        margin: 10px auto;
    }

    .esat-pr-banner__header-stats-review-title {
        flex: 1;
    }

    .esat-pr-banner__header-stats-stars {
        flex: 1;
        white-space: nowrap;
    }

    .esat-pr-banner--no-reviews .esat-pr-banner__header-logo {
        display: flex;
        justify-content: right;
    }
}

.esat-pr-banner {
    cursor: default;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    max-height: 850px;
    max-width: 780px;
    padding: 24px 32px;
    overflow-y: auto;
    font-family: $zonapro_thin;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-align: left;
    text-indent: initial;
    text-decoration: none;
    text-align: none;
    text-align-last: initial;
    text-anchor: unset;
    text-justify: none;
    text-emphasis: none;
    text-shadow: none;
    text-transform: none;
    direction: initial;
    visibility: initial;
    letter-spacing: initial;
    line-height: initial;
    word-spacing: initial;
    word-break: normal;
    white-space: normal;

    &.esat-pr-banner--dark {
        background: $esat_theme_dark;
        color: $white;

        .esat-pr-banner__header-stats-stars > span::before {
            content: '★';
            color: $white;
        }
    }

    &.esat-pr-banner--light {
        background: $esat_theme_light;
        color: $black;

        .esat-pr-banner__header-stats-stars > span::before {
            content: '★';
            color: $gray20;
        }
    }

    &.esat-pr-banner--mobile {
        @include mobile;
        @include mobile-header;
    }

    .esat-pr-banner__big-badge-logo {
        background: $url_logo_small no-repeat;
        background-size: 60px 52px;
        width: 60px;
        height: 52px;
    }

    .esat-pr-banner__big-badge {
        @extend %badge;
        display: flex;
        align-items: center;
        width: 150px;
        height: 50px;

        .esat-pr-banner-txt {
            margin-top: 8px;
        }
    }

    .esat-pr-banner__small-badge {
        @extend %badge;
        width: 50px;
        padding: 4px 0;
        text-align: center;
    }

    // Header
    .esat-pr-banner__header {
        flex: 1 100%;

        .esat-pr-banner__header-logo {
            display: flex;
            justify-content: flex-end;
            order: 1;
            text-align: right;
            margin-bottom: 16px;

            .esat-pr-banner__header-logo-holder {
                background: $url_logo_big no-repeat;
                background-size: 220px 40px;
                width: 220px;
                height: 40px;
            }
        }

        .esat-pr-banner__header-stats {
            display: flex;
            flex-direction: row;

            .esat-pr-banner__header-stats-summary {
                flex: 1 1;
                height: 100px;
            }

            .esat-pr-banner__header-stats-reviews {
                flex: 1 0 auto;
            }

            .esat-pr-banner__header-stats-stars-bar-flex {
                cursor: pointer;
                flex: 2;
                display: flex;

                &.esat-pr-banner__header-stats-stars-bar-flex--disabled {
                    pointer-events: none;
                }
            }


            .esat-pr-banner__header-stats-review-bar-flex {
                flex: 2;
                display: flex;
            }

            .esat-pr-banner__header-stats-review {
                display: flex;
                margin-bottom: 2px;

                &:last-child {
                    margin-bottom: 16px;
                }

                > * {
                    margin-right: 4px;
                }

                .esat-pr-basnner__header-stats-review-value {
                    width: 25%;
                }
            }

            .esat-pr-banner__header-stats-stars-rating {
                display: flex;
                margin-bottom: 2px;

                > * {
                    margin-right: 4px;
                }

                .esat-pr-banner__header-stats-stars-total {
                    width: 25%;
                }
            }

            .esat-pr-banner__header-stats-review-title,
            .esat-pr-banner__header-stats-stars {
                width: 180px;
                text-align: right;
                margin-right: 10px;
                line-height: 16px;
            }

            .esat-pr-banner__header-stats-info {
                width: 165px;
                margin-top: 16px;
            }

            .esat-pr-banner__header-stats-review-bar {
                @extend %bar;
            }

            .esat-pr-banner__header-stats-stars-bar {
                @extend %bar;
            }

            .esat-pr-banner__header-stats-stars-reviews-total--muted > {
                .esat-pr-banner__header-stats-stars-rating {
                    opacity: 0.3;
                }

                .esat-pr-banner__header-stats-stars-rating--highlighted {
                    opacity: 1;
                }
            }
        }
    }

    // Main
    .esat-pr-banner__main {
        flex: 1 100%;
        padding: 0 24px;

        .esat-pr-banner__main-review {
            display: flex;

            .esat-pr-banner__main-review-comment {
                flex: 1 2 400px;
                text-overflow: ellipsis;
                align-self: end;
                word-break: break-word;
                max-width: 400px;
                line-height: 1.3;

                > div {
                    margin-bottom: 16px;
                    word-break: break-word;
                }

                .esat-pr-banner__main-review-comment--muted {
                    opacity: 0.5;
                }
            }

            .esat-pr-banner__main-review-comment-positive,
            .esat-pr-banner__main-review-comment-negative {
                display: flex;
            }

            .esat-pr-banner__main-review-comment-negative-icon {
                @extend %icons;
                background-position: 0 -16px;
            }

            .esat-pr-banner__main-review-comment-positive-icon {
                @extend %icons;
            }

            .esat-pr-banner__main-review-info {
                width: 150px;

                .esat-pr-banner__main-review-info-date {
                    margin-top: 16px;
                }
            }
        }
    }

    .esat-pr-banner__main-load-more {
        display: flex;
        justify-content: center;
        padding-bottom: 24px;
        margin: 0 auto;

        .esat-pr-banner__main-load-more-button {
            cursor: pointer;
            border: 1px solid $gray20;
            border-radius: 5px;
            padding: 8px;
        }
    }

    // General style
    .esat-pr-banner_hr {
        margin: 24px 0;
    }

    .esat-pr-banner-elem--hidden {
        display: none;
    }

    .esat-pr-banner--white-bg {
        background-color: $white;
        color: $black;
    }

    .esat-pr-banner--blue {
        font-family: $zonapro_semibold;
        color: $bar_linear_to_color;
    }

    .esat-pr-banner-text--xl {
        font-size: 2em;
    }

    .esat-pr-banner-txt--lg {
        font-size: 1.5em;
    }

    .esat-pr-banner-txt--md {
        font-size: 1.25em;
    }

    .esat-pr-banner-txt--sm {
        font-size: 0.9em;
    }

    .esat-pr-banner-txt--xxs {
        font-size: 0.7em
    }

    .esat-pr-banner-txt--bold {
        font-weight: 600;
    }

    .esat-pr-banner_hr {
        height: 1px;
        width: 100%;
        background-image: linear-gradient(
                        to right,
                        $hr_linear_from_color 10%,
                        $hr_linear_to_color 70%
        );
    }
}


@media screen and(max-width: 520px) {
    .esat-pr-banner {
        padding: 16px;

        .esat-pr-banner__header {
            @include mobile-header;
        }
    }

}

@media screen and(max-width: 380px) {
    @include mobile;

    .esat-pr-banner {
        .esat-pr-banner__main {
            .esat-pr-banner__main-review {
                .esat-pr-banner__main-review-comment {
                    flex: 1;
                }
            }
        }
    }
}

.esat-pr-banner--no-reviews .esat-pr-banner__main {
    text-align: center;
}
