//colors
$esat_theme_dark: rgba(10, 20, 30, .9);
$esat_theme_light: rgba(226, 229, 238, .95);
$black: #000;
$white: #fff;
$gray20: #333;

$bar_linear_from_color: #65ffd1;
$bar_linear_to_color: #00aeef;

$hr_linear_from_color: #a970fe;
$hr_linear_to_color: #74bcf7;

//fonts
$zonapro_thin: Zonapro-thin;
$zonapro_semibold: Zonapro-semibold;

//urls
$url_zonapro_thin: url(../fonts/ZonaPro-Thin.woff);
$url_zonapro_semibold: url(../fonts/ZonaPro-SemiBold.woff);
$url_logo_big: url(../images/logo-blue.png);
$url_logo_small: url(../images/logo-blue-square.png);
$url_logo_icons: url(../images/icons.svg);
