<div class="esat-pr-banner">
    <div class="esat-pr-banner__header esat-pr-banner-txt--sm">
        <!--
        <div class="esat-pr-banner__header-logo">
            <div class="esat-pr-banner__header-logo-holder"></div>
        </div>
        -->
        <div class="esat-pr-banner__header-stats esat-pr-banner-txt--sm">
            <div class="esat-pr-banner__header-stats-summary">
                <div class="esat-pr-banner__big-badge">
                    <div class="esat-pr-banner__big-badge-logo"></div>
                    <span class="esat-pr-banner--blue esat-pr-banner__big-badge-score esat-pr-banner-text--xl">4.9</span>
                    <span class="esat-pr-banner-txt esat-pr-banner-txt--md esat-pr-banner__max-score">/1000</span>
                </div>
                <div class="esat-pr-banner__header-stats-info esat-pr-banner-txt--sm">
                    <span data-translate="from">απο</span>
                    <span class="esat-pr-banner-txt--bold esat-pr-banner-stats-total-reviews">8</span>
                    <span data-translate="totalReviews">αξιολογήσεις αγοραστών</span>
                </div>
            </div>
            <div class="esat-pr-banner__header-stats-reviews esat-pr-banner-txt--sm">
                <div class="esat-pr-banner__header-stats-reviews-average"></div>
                <div class="esat-pr-banner__header-stats-stars-reviews-total"></div>
            </div>
        </div>
    </div>
    <div class="esat-pr-banner_hr"></div>
    <div class="esat-pr-banner__main esat-pr-banner-txt--sm">
        <div class="esat-pr-banner__main-reviews">
            <div class="esat-pr-banner__main-review"></div>
        </div>
    </div>
    <div class="esat-pr-banner__main-load-more esat-pr-banner-elem--hidden">
        <div class="esat-pr-banner__main-load-more-button" data-translate="loadMore">φόρτωση περισσότερων</div>
    </div>
</div>
