<div class="esat-pr-banner esat-pr-banner--no-reviews">
    <div class="esat-pr-banner__header">
        <div class="esat-pr-banner__header-logo">
            <div class="esat-pr-banner__header-logo-holder"></div>
        </div>
        <div class="esat-pr-banner__main">
            <p class="esat-pr-banner-txt--sm" data-translate="noReviews">Δεν υπάρχουν διαθέσιμες αξιολογήσεις</p>
        </div>
    </div>
</div>
