<div class="esat-pr-banner__main-review">
    <div class="esat-pr-banner__main-review-info">
        <div class="esat-pr-banner__main-review-info-score esat-pr-banner__small-badge">
            <div class="esat-pr-banner__small-badge-score">
                <span class="esat-pr-banner--blue esat-pr-banner-txt--md">${score}</span>
                <span class="esat-pr-banner__max-score esat-pr-banner-txt--sm">/${max_score}</span>
            </div>
        </div>
        <div class="esat-pr-banner__main-review-info-date esat-pr-banner-txt--xxs">${date}</div>
    </div>
    <div class="esat-pr-banner__main-review-comment">
        <div class="esat-pr-banner__main-review-comment-positive">
            <i class="esat-pr-banner__main-review-comment-positive-icon"></i>
            <span class="esat-pr-banner__main-review-comment ${comment_positive_class}">${comment_positive}</span>
        </div>
        <div class="esat-pr-banner__main-review-comment-negative">
            <i class="esat-pr-banner__main-review-comment-negative-icon"></i>
            <span class="esat-pr-banner__main-review-comment ${comment_negative_class}">${comment_negative}</span>
        </div>
    </div>
</div>
<div class="esat-pr-banner_hr"></div>
